h1{
	font-family: 'Rokkitt', serif;
}
.intrucciones p{
	font-family: 'Roboto', sans-serif;
}
.puntos{
	/*background-color:brown; */
	display: flex;
}
.caja{
	width: 100%;
	height: 40vh;
	/*background-color: purple;*/
}
.imagen{
	display: flex;
	width: 50%;
	height: 40vh;
	/*background-color: green;*/
}
.datos{
	width: 50%;
	height: 20vh;
	/*background-color: red;*/
	/*float: right;*/
	margin-top: -250px;
	margin-left: 384px;
	/*display: flex;*/
}

input{
	margin-top: 10px;
	width: 350px;
	margin-left: 10px;
}
button{
	margin-top: 10px;
}